@media only screen and (max-width: 1366px) {
	html { font-size: 55%}
	.container {
	  width: 100%;
	  max-width: 1300px;
	}
	.header .search {
		margin-top: 1rem;
	}
	.header .main-nav .nav {
	    margin-top: 1.7rem;
	}
	.header .shopping-cart a {
		padding: 1.1rem 1rem;
		line-height: 12px;
	}
	.header .shopping-cart .badge {
	    top: 3px;
	    right: 3px;
	}
	.header {
	  margin-bottom: 2rem;
	}
	.header .top-menu .promotion a {
		font-size: 2rem
	}
	.header .top-right-menu .nav-pills .nav-link {
		font-size: 1.8rem;
	}
	.left-menu ul li a {
	  font-size: 1.6rem;
	}
	.footer .title {
	  font-size: 2rem;
	}
	.header .main-nav .nav > li a  {
		font-size: 1.6rem;
		padding: 0.5rem 1rem;
	}
}
@media only screen and (max-width: 1280px) {
	
}
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 768px) {
	
}
