@media only screen and (max-width: 1440px) {
	html { font-size: 55%}
	.header .search {
		margin-top: 1rem;
	}
	.header .main-nav .nav {
	    margin-top: 1.7rem;
	}
	.header .shopping-cart a {
		padding: 1.1rem 1rem;
	}
	.header .shopping-cart .badge {
	    top: 3px;
	    right: 3px;
	}
	.header {
	  margin-bottom: 2rem;
	}
	.header .top-menu .promotion a {
		font-size: 2rem
	}
	.header .top-right-menu .nav-pills .nav-link {
		font-size: 1.8rem;
	}
}
@media only screen and (max-width: 1280px) {
	
}
@media only screen and (max-width: 1024px) {
	
}
@media only screen and (max-width: 768px) {
	
}
