/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family:'Arimo';
    src:url('../fonts/arimo-regular.ttf');
}
@font-face {
    font-family:'Arimo Bold';
    src:url('../fonts/arimo-bold-latin.ttf');
}
@font-face {
    font-family:'Arimo Bold Italic';
    src:url('../fonts/arimo-bolditalic-latin.ttf');
}
@font-face {
    font-family:'Arimo Italic';
    src:url('../fonts/arimo-italic-latin.ttf');
}
@font-face {
    font-family:'Gotham Bold';
    src:url('../fonts/SVN-GothamBold.ttf');
}
@font-face {
    font-family:'Gotham Light';
    src:url('../fonts/SVN-GothamLight.ttf');
}
@font-face {
    font-family:'Helvetica Neue';
    src:url('../fonts/HelveticaNeue.otf');
}
@font-face {
    font-family:'Helvetica Neue Bold';
    src:url('../fonts/HelveticaNeue-Bold.otf');
}
@font-face {
    font-family:'Helvetica Neue Bold Italic';
    src:url('../fonts/HelveticaNeue-BoldItalic.otf');
}

@font-face {
    font-family:'Helvetica Neue Italic';
    src:url('../fonts/HelveticaNeue-Italic.otf');
}
@font-face {
    font-family:'Helvetica Neue Light';
    src:url('../fonts/HelveticaNeue-Light.otf');
}
@font-face {
    font-family:'Helvetica Neue Light Italic';
    src:url('../fonts/HelveticaNeue-LightItalic.otf');
}
@font-face {
    font-family:'Helvetica Neue Condensed Black';
    src:url('../fonts/HelveticaNeue-CondensedBlack.otf');
}
@font-face {
    font-family:'Helvetica Neue UltraLight';
    src:url('../fonts/HelveticaNeue-UltraLight.otf');
}
@font-face {
    font-family:'Helvetica Neue Ultra Light Italic';
    src:url('../fonts/HelveticaNeue-UltraLightItalic.otf');
}
html { font-size: 62.5%; /* Mac dinh ve gia tri 10px */ }
body {
  font-size: 1.6rem;
  /* font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; */
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color:#000;
  position: relative;
  background: #fff;
}
a {
  text-decoration: none;
  color: #eb5f36;
}
a:focus, a:active {
  outline: 0;
}
.container {
  width: 100%;
  max-width: 1700px;
}
.dropdown-item {
  font-size: 1.6rem
}
.shopping-cart .badge {

}
.carousel-indicators {
  bottom: 3rem;
}
.carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: #fff;
}
.carousel-indicators .active {
  background: #eb5f36;
}
.carousel-indicators li:hover {
  cursor: pointer;
}
.form-control {
  border-radius: 0;
  font-size: 1.6rem;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(235,95,54,.25);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(235,95,54,.25);
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 1rem;
}
.btn {
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    border-radius: .3rem;
    background-color: #eb5f36;
}
.btn:hover {
  background-color: #fb3900;
  border: 1px solid #eb5f36;
}
/*header*/
.header {
  margin-bottom: 3rem;
}
.header .top-menu {
  background: #eb5f36;
}
.header .top-menu .promotion {
  padding: 1.2rem 0;
  text-align: center;
}
.header .top-menu .promotion a {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.header .top-right-menu .nav-pills .nav-link {
  color: #fff;
  text-decoration: underline;
  font-size: 2.2rem;
}
.header .top-right-menu .nav-item {
  margin-left: 2rem;
}
.header .main-nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0.5rem 0px rgba(0, 1, 1, 0.17);
}
.header .main-nav .navbar-brand {
  width: 28.7rem;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  color: transparent;
}
.header .main-nav .navbar-brand img {
  width: 100%;
  display: block;
}
.header .main-nav .nav {
  margin-top: 1.8rem;
}
.header .main-nav .nav > li {
}
.header .main-nav .nav > li > a {
  color: #000;
  text-transform: uppercase;
  border-right: 1px solid #000;
  padding: 0.5rem 2rem;
  border-radius: 0;
}
.header .main-nav .nav > li:last-child > a {
  border-right: none;
}
.header .main-nav .dropdown .dropdown-toggle::after {
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-left: 1rem;
  vertical-align: .07rem;
  content: "";
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position:  -110px 0;
  border: 0 !important;
} 
.header .search {
  position: relative;
  width: 100%;
  max-width: 36.6rem;
  padding: 0.6rem 1rem;
  margin-top: 1.3rem;
  background-image: url(../images/icon-search.png);
  background-repeat: no-repeat;
  background-position: right;
  border:none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
}

.header .search:after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background: #000;
}
.header .shopping-cart {
  width: 5.6rem;
  position: relative;
  margin-left: 16px;
}
.header .shopping-cart a {
  display: block;
  background-color: #eb5f36;
  padding: 1.4rem 2.4rem;
  text-align: center;
}
.header .shopping-cart a img {
  width: 100%;
}
.header .shopping-cart .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
}
.carousel-control-next, .carousel-control-prev {
  width: 6%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 34px;
  height: 64px;
    
}
.carousel-control-prev-icon {
    background-image: url("../images/arl.png");
}
.carousel-control-next-icon {
    background-image: url("../images/arr.png");
}
/*End header*/
.home-news {
  text-align: center;
  padding: 2rem 0;
}
.section .title {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 3rem;
  padding: 1.5rem 0;
  border-bottom: 2px solid #eb5f36;
  margin-bottom: 3rem;
  font-family: 'Helvetica Neue Bold', arial, sans-serif;
  text-transform: uppercase;
}
.home-news > .home-text {
  font-size: 3rem;
  line-height: 1.2;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}
.home-news .list-news .item {
  position: relative;
  margin-bottom: 2rem
}
.home-news .list-news .item .thumbnail {
  display: block;
  width: 100%;
  border:  none;
}
.home-news .list-news .item .thumbnail img {
  display: block;
  width: 100%;
}
.home-news .list-news .item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: calc(100% - 30px;);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  columns: #fff;
  text-align: left;
}
.home-news .list-news .item .info .tit a {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  text-decoration: underline;
  font-size: 2rem;
  color: #fff;
  line-height: 1.2;
}
.home-news .list-news .item .info .home-text {
  font-family: "Arimo", arial, sans-serif;
  font-size: 2rem;
  color: #fff;
  line-height: 1.2;
}
.home-video {
  text-align: center;
  margin-bottom: 3rem;
}
.home-video .color-grey {
  background: #e8e8e8;
}
.home-video .info {
  font-family: "Arimo", arial, sans-serif;
  font-size:  2rem;
  line-height: 1.2;
  text-align: left;
  padding: 3rem;
}
.home-video .info .tit {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.home-video .info .home-text {
  margin-bottom: 2rem;
  text-align: justify;
}
.home-video .video .thumbnail {
  width: 100%;
  border: none;
  display: block;
}
.hone-service {
  width: 100%;
  max-width: 1440px;
  margin-top: 2rem;
  margin: 0 auto;
}
.hone-service > div {
  padding: 0 0.1rem;
}
.hone-service .item {
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 0 5px 0;
  display: table;
  margin-bottom: 2rem;
}
.hone-service .item .col {
  display: table-cell;
}
.hone-service .item .icon {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 52px;
  height: 52px;
  background-image: url('../images/icon.png');
  background-repeat: no-repeat;
}
.hone-service .item.ship .icon {
  background-position: 0 0;
}
.hone-service .item .text {
  vertical-align: middle;
  padding-left: 5px;
  line-height: 1.5;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hone-service .item .text strong {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  color: #eb5f36;
  text-transform: uppercase;
}
.hone-service .item .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-products .card {
  margin-bottom: 2rem;
  border: none;
}
.home-products .card .card-img-top {
  border: 1px solid #ebebeb;
}
.home-products .card .card-title {
  font-size:  2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  color: #000;
  line-height: 1.5;
}
.home-products .card .rate {
  color: #eb5f36;
  line-height: 1.5;
}
.home-products .card .price {
  font-size: 3rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  margin-bottom: 1.5rem;
}
.view-more {
  text-decoration: underline;
  font-size:  2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  margin: 2rem;
}
.footer {
  background: #f1f1f1;
  padding:  3rem 0;
}
.footer .info .logo {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width:  260px;
}
.footer .info .logo img {
  display: block;
  width: 100%;  
}
.footer .info table td {
  font-size: 1.6rem;
}
.footer .info table td:last-child a {
    line-height: 1.5;
    color: #000;
    font-family: "Helvetica Neue Light", arial, sans-serif;
}
.footer .title {
  font-size: 3rem;
  color: #eb5f36;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
}
.footer .about ul li, .footer .support ul li {
  list-style: none;
}
.footer .about ul li a, .footer .support ul li a {
  display: block;
  color: #444;
  padding: 5px 0;
}
.footer .register-email .title {
  text-align: right;
  line-height: 1.2;
}
.footer h4.title {
  text-transform: uppercase;
}
.footer .register-email .p-1 {
  font-family: "Helvetica Neue Ultra Light Italic", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 5px;
  text-align: right;
  letter-spacing: 1px;
}
.footer .input-group {
  margin-bottom: 10px;
  max-width: 350px;
}
.footer .input-group .form-control {
  border:  none;
  background: #fff;
}
.footer .input-group .btn {
  border-radius: 0;
  cursor: pointer;
  font-family: "Helvetica Neue Light", arial, sans-serif;
}