/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family:'Arimo';
    src:url('../fonts/arimo-regular.ttf');
}
@font-face {
    font-family:'Arimo Bold';
    src:url('../fonts/arimo-bold-latin.ttf');
}
@font-face {
    font-family:'Arimo Bold Italic';
    src:url('../fonts/arimo-bolditalic-latin.ttf');
}
@font-face {
    font-family:'Arimo Italic';
    src:url('../fonts/arimo-italic-latin.ttf');
}
@font-face {
    font-family:'Gotham Bold';
    src:url('../fonts/SVN-GothamBold.ttf');
}
@font-face {
    font-family:'Gotham Light';
    src:url('../fonts/SVN-GothamLight.ttf');
}
@font-face {
    font-family:'Helvetica Neue';
    src:url('../fonts/HelveticaNeue.otf');
}
@font-face {
    font-family:'Helvetica Neue Bold';
    src:url('../fonts/HelveticaNeue-Bold.otf');
}
@font-face {
    font-family:'Helvetica Neue Bold Italic';
    src:url('../fonts/HelveticaNeue-BoldItalic.otf');
}

@font-face {
    font-family:'Helvetica Neue Italic';
    src:url('../fonts/HelveticaNeue-Italic.otf');
}
@font-face {
    font-family:'Helvetica Neue Light';
    src:url('../fonts/HelveticaNeue-Light.otf');
}
@font-face {
    font-family:'Helvetica Neue Light Italic';
    src:url('../fonts/HelveticaNeue-LightItalic.otf');
}
@font-face {
    font-family:'Helvetica Neue Condensed Black';
    src:url('../fonts/HelveticaNeue-CondensedBlack.otf');
}
@font-face {
    font-family:'Helvetica Neue UltraLight';
    src:url('../fonts/HelveticaNeue-UltraLight.otf');
}
@font-face {
    font-family:'Helvetica Neue Ultra Light Italic';
    src:url('../fonts/HelveticaNeue-UltraLightItalic.otf');
}
@font-face {
    font-family:'Gill Sans';
    src:url('../fonts/SFUGillSansRegular.ttf');
}

html { font-size: 62.5%; /* Mac dinh ve gia tri 10px */ }
body {
  font-size: 1.6rem;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color:#000;
  position: relative;
  background: #fff;
}
main.container {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #eb5f36;
}
a:hover {
  text-decoration: none;
  color: #dc3402;
}
a:focus, a:active {
  outline: 0;
  color: #dc3402;
}
strong {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
}

.italic {
  font-family: "Helvetica Neue Light Italic", arial, sans-serif;
}
.orange-color {
  color: #eb5f36;
}
.orange-color-blod {
  color: #eb5f36;
  font-family: 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  max-width: 1700px;
}
.dropdown-menu {
  width: 200px;
  background: #e8e8e8;
  border-radius: 0;
}
.dropdown-item {
  font-size: 1.6rem;
  padding: 12px;
}
.shopping-cart .badge {

}
.carousel-indicators {
  bottom: 3rem;
}
.carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background: #fff;
}
.carousel-indicators .active {
  background: #eb5f36;
}
.carousel-indicators li:hover {
  cursor: pointer;
}
.form-control {
  border-radius: 0;
  font-size: 1.6rem;
  line-height: 3.5rem;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(235,95,54,.25);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(235,95,54,.25);
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0 1rem;
}
button:hover {
  cursor: pointer;
}
.btn {
  font-size: 1.6rem;
}
.btn.btn-primary {
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    font-family: "Helvetica Neue Bold", arial, sans-serif;
    border-radius: .3rem;
    background-color: #eb5f36;
}
.btn.btn-primary:hover {
  background-color: #fb3900;
  border: 1px solid #eb5f36;
}
.custom-select {
    height: calc(3rem + 2px);
    padding: 0 4rem 0 2rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(../images/select-icon.svg) no-repeat right .75rem center;
}
.breadcrumb {
    background-color: transparent;
    border-radius: 0;
}
.breadcrumb-item a {
  color: #000;
  font-family: "Helvetica Neue Light", arial, sans-serif;
}
.breadcrumb-item.active {
   color: #000;
   font-family: "Helvetica Neue Light", arial, sans-serif;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 14px;
  height: 8px;
  margin-left: 1rem;
  vertical-align: .07rem;
  content: "";
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position:  -110px 0;
  border: 0 !important;
}
/*header*/
.header {
  margin-bottom: 3rem;
}
.header .top-menu {
  background: #eb5f36;
}
.header .top-menu .dropdown-toggle::after {
  background-image: url(../images/icon-w.png);
}
.header .top-menu .promotion {
  padding: 1.2rem 0;
  text-align: center;
}
.header .top-menu .promotion a {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  color: #fff;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
.header .top-right-menu .nav-pills .nav-link {
  color: #fff;
  text-decoration: underline;
  font-size: 2.2rem;
}
.header .top-right-menu .nav-item {
  margin-left: 2rem;
  position: relative;
}
.header .top-right-menu .dropdown-menu {
  width: 166px; 
  left: -63%;
}
.header .main-nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 0.5rem 0px rgba(0, 1, 1, 0.17);
  position: relative;
}
.header .main-nav .navbar-brand {
  width: 28.7rem;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  color: transparent;
}
.header .main-nav .navbar-brand img {
  width: 100%;
  display: block;
}
.header .main-nav .nav {
  margin-top: 1.8rem;
}
.header .main-nav .nav > li > a {
  color: #000;
  text-transform: uppercase;
  border-right: 1px solid #000;
  padding: 0.5rem 2rem;
  border-radius: 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .main-nav .nav > li:hover > a {
  color: #eb5f36;
}
.header .main-nav .nav > li:last-child > a {
  border-right: none;
}
.dropdown-menu .dropdown-item.hassub a {
  position: relative;
}
.dropdown-menu .dropdown-item.hassub:after {
    content: '';
    top: 0.9rem;
    right: 5px;
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url(../images/icon.png);
    background-position: -70px 0;
}
.dropdown-menu li:hover .dropdown-item.hassub:after {
    background-image: url(../images/icon-w.png);
}
.header .search {
  position: relative;
  margin-top: 0.6rem;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.14);
  width: 300px;
  float: right; 
}
.header .search .form-control {
  border: none;
}
.header .search button {
  background: transparent;
  border: none;
  padding: 0 1rem; 
}
.header .search button:active, .header .search button:focus {
  outline: 0;
}
.header .search button:hover {
  cursor: pointer;
}
.header .shopping-cart {
  width: 5.6rem;
  position: relative;
  margin-left: 16px;
}
.header .shopping-cart a {
  display: block;
  background-color: #eb5f36;
  padding: 7px 1rem 0 1rem;
  text-align: center;
  line-height: 40px;
}
.header .shopping-cart a img {
  width: 100%;
}
.header .shopping-cart .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
}
.carousel-control-next, .carousel-control-prev {
  width: 6%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 34px;
  height: 64px;
}
.carousel-control-prev-icon {
    background-image: url("../images/arl.png");
}
.carousel-control-next-icon {
    background-image: url("../images/arr.png");
}
.header .main-nav .nav > li > a {
  position: relative;
}
.header .main-nav .nav > li > a.hassub {
  padding-right: 20px;
}
.header .main-nav .nav > li > a.hassub:before {
  content: '';
  top: 8px;
  right: 5px;
  position: absolute;
  width: 14px;
  height: 8px;
  background-image: url(../images/icon.png);
  background-position: -110px 0;
}
.header .main-nav .nav > li > ul > li > ul > li > a.hassub {
  position: relative;
}
.header .main-nav .nav > li > ul > li > ul > li > a.hassub:before {
  content: '';
    top: 3px;
    right: 5px;
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url(../images/icon.png);
    background-position: -70px 0;
}
.header .main-nav .nav > li > ul {
  position: absolute;
  width: 100%;
  z-index: 9999;
  left: 0;
  top: 110%;
  background: rgba(214, 214, 214, 0.9);
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;
}
.header .main-nav .nav > li:hover > ul {
  visibility: visible;
  top: 100%;
}
.header .main-nav .nav > li > ul > li {
  min-width: 180px;
  padding: 10px 0;
  position: relative;
}
.header .main-nav .nav > li > ul > li > a {
  text-transform: uppercase;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  color: #eb5f36;
  position: relative;
}
.header .main-nav .nav > li > ul > li > ul > li a {
  color: #000;
}
.header .main-nav .nav > li > ul > li > ul > li:hover > a {
  background: #eb5f36;
  color: #ffff;
}
.header .main-nav .nav > li > ul > li > ul > li:hover > a.hassub:before {
  background-image: url(../images/icon-w.png);
}
.header .main-nav .nav ul li a {
  display: block;
  padding: 8px 10px;  
}
.header .main-nav .nav > li > ul > li > ul > li > ul  {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: calc(100% - 38px);
  top: 38px;
  left: 110%;
  background: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;
}
.header .main-nav .nav > li > ul > li > ul > li:hover > ul {
  visibility: visible;
  left: 100%;
}
.header .main-nav .nav > li > ul > li > ul > li > a.hassub:after {
  content: "";
  position: absolute;
  border: 6px solid transparent;
  border-right: 6px solid #fff;
  top: 7px;
  right: -10%;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: all .25s ease-in;
     -moz-transition: all .25s ease-in;
      -ms-transition: all .25s ease-in;
       -o-transition: all .25s ease-in;
          transition: all .25s ease-in;
}
.header .main-nav .nav > li > ul > li > ul > li:hover > a.hassub:after{
  right: 0;
  opacity: 1;
}
.header .main-nav .nav > li > ul > li > ul > li > ul > li:hover a {
  color: #eb5f36;
}

.header .main-nav .nav > li > ul > li:nth-child(6n) > ul > li > ul  {
  left: -110% !important;
  box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.1) !important;
}
.header .main-nav .nav > li > ul > li:nth-child(6n) > ul > li:hover > ul {
  visibility: visible;
  left: -100% !important;
}
.header .main-nav .nav > li > ul > li:nth-child(6n) > ul > li > a.hassub:after {
  left: -10% !important;
  border-right: 0;
  border-left: 6px solid #fff;
}
.header .main-nav .nav > li > ul > li:nth-child(6n) > ul > li:hover > a.hassub:after{
  left: 0 !important;
}
/*End header*/
.home-news {
  text-align: center;
  padding: 2rem 0;
}
.section .title {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 2.5rem;
  padding: 1.5rem 0;
  margin-bottom: 3rem;
  font-family: 'Helvetica Neue Bold', arial, sans-serif;
  text-transform: uppercase;
  position: relative;
  line-height: 1.2;
}
.section .title:before {
  bottom: -2px;
  left: -2.5%;
  position: absolute;
  content: '';
  width: 105%;
  border-bottom: 2px solid #eb5f36;
}
.section .title.left:before {
  left: 0;
  width: 110%;
}
.section .title a {
  font-size: 3rem;
  display: block;
  color: #000;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.section .title a:hvoer {
  color: #eb5f36;
}
.home-news > .home-text {
  font-size: 3rem;
  line-height: 1.2;
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}
.home-news .list-news .item {
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
}
.home-news .list-news .item .thumbnail {
  display: block;
  width: 100%;
  border:  none;
}
.home-news .list-news .item .thumbnail img {
  display: block;
  width: 100%;
  -webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
       -o-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.home-news .list-news .item:hover img {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}
.home-news .list-news .item .info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: calc(100% - 30px;);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  columns: #fff;
  text-align: left;
}
.home-news .list-news .item .info .tit a {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  text-decoration: underline;
  font-size: 2rem;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.home-news .list-news .item .info .tit a:hover {
  color: #eb5f36;
}
.home-news .list-news .item .info .home-text {
  font-family: "Arimo", arial, sans-serif;
  font-size: 2rem;
  color: #fff;
  line-height: 1.2;
}
.home-video {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
.home-video .color-grey {
  background: #e8e8e8;
}
.home-video .info {
  font-family: "Arimo", arial, sans-serif;
  font-size:  2rem;
  line-height: 1.2;
  text-align: left;
  padding: 3rem;
}
.home-video .info .tit {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.home-video .info .home-text {
  margin-bottom: 2rem;
  text-align: justify;
}

.home-video .vjs-default-skin .vjs-control-bar {
  display: none;
}
.home-video .vjs-default-skin:hover {
   display: block;
}
.home-video .slick-dots{
  position: absolute;
  bottom: 10px;
  width: 50%;
  text-align: right;
  padding-right: 5px;
}
.slick-dots li {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.slick-dots li.slick-active button {
  background: #eb5f36 !important;
}
.slick-dots li button {
  display: block;
  background: #a1a1a1 !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  text-indent: -9999px;
  width: 1.5rem;
  height: 1.5rem;
}
.home-video .video {
  padding: 0;
}
.home-video .video .thumbnail {
  width: 100%;
}
.hone-service {
  width: 100%;
  max-width: 1440px;
  margin-top: 2rem;
  margin: 0 auto;
}
.hone-service > div {
  padding: 0 0.1rem;
}
.hone-service .item {
  width: 100%;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 0 5px 0;
  display: table;
  margin-bottom: 2rem;
}
.hone-service .item .col {
  display: table-cell;
}
.hone-service .item .icon {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 52px;
  height: 52px;
  background-image: url('../images/icon.png');
  background-repeat: no-repeat;
}
.hone-service .item.ship .icon {
  background-position: 0 0;
}
.hone-service .item.pay .icon {
  background-position: 0 -53px;
}
.hone-service .item.change .icon {
  background-position: 0 -107px;
}
.hone-service .item.hotline .icon {
  background-position: 0 -160px;
}
.hone-service .item .text {
  vertical-align: middle;
  padding-left: 5px;
  line-height: 1.2;
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hone-service .item .text strong {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  color: #eb5f36;
  text-transform: uppercase;
}
.hone-service .item .text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-products .row {
  margin: 0 -1rem 2rem -1rem;
}
.home-products .card {
  margin-bottom: 2rem;
  border: none;
}
.home-products .card .card-img-top {
  border: 1px solid #ebebeb;
  -webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
       -o-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.home-products .card:hover {
}
.home-products .card .card-title {
  font-size:  2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  color: #000;
  line-height: 1.2;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.home-products .card .card-title:hover {
  color: #eb5f36;
}
.rate {
  color: #eb5f36;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.home-products .card .italic {
  font-family: 'Helvetica Neue Light Italic', arial, sans-serif;
  letter-spacing: 1px;
  color: #000;
}
.home-products .card .rate .fa-star-half {
  color: #eb5f36;
}

.home-products .card .price {
  font-size: 3rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  margin-bottom: 1.5rem;
}
.home-products .card .price .old-price {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", arial, sans-serif;
  text-decoration: line-through;
  color: #444;
}
.view-more {
  padding: 10px 20px;
  border:  1px solid #eb5f36;
  text-decoration: underline;
  font-size:  2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  margin: 2rem;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.view-more:hover {
  border:  1px solid #fff;
  color: #fff;
  background: #eb5f36;
}
.footer {
  background: #f1f1f1;
  padding-top: 3rem;
}
.footer .row > div {
  margin-bottom: 3rem;
}
.footer .info .logo {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width:  200px;
}
.footer .info .logo img {
  display: block;
  width: 100%;  
}
.footer .info table td {
  font-size: 1.6rem;
}
.footer .info table td:last-child a {
    line-height: 1.5;
    color: #000;
    font-family: "Helvetica Neue Light", arial, sans-serif;
}
.footer .title {
  font-size: 3rem;
  color: #eb5f36;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
}
.footer .about ul li, .footer .support ul li {
  list-style: none;
}
.footer .about ul li a, .footer .support ul li a {
  display: block;
  color: #000;
  padding: 5px 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.footer .about ul li a:hover, .footer .support ul li a:hover {
  color: #eb5f36;
}
.footer .register-email .title {
  text-align: right;
  line-height: 1.2;
}
.footer h4.title {
  text-transform: uppercase;
}
.footer .register-email .p-1 {
  font-family: "Helvetica Neue Ultra Light Italic", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 5px;
  text-align: right;
  letter-spacing: 1px;
}
.footer .input-group {
  margin-bottom: 10px;
  max-width: 350px;
}
.footer .input-group .form-control {
  border:  none;
  background: #fff;
}
.footer .input-group .btn {
  border-radius: 0;
  cursor: pointer;
  font-family: "Helvetica Neue Light", arial, sans-serif;
}
.footer .socical {
  text-align: right;
}
.footer .socical a {
  margin: 5px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  background-color: #2b2b2b;
  color: #fff;
  font-size: 20px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.footer .socical a.youtube {
  background: url('../images/icon-youtube.png') no-repeat;
}
.footer .socical a.youtube:hover {
  background: url('../images/icon-youtube-hover.png') no-repeat;
}
.footer .socical a:hover {
  background: #eb5f36;
}
/* cate */
.block-left {
  width: 100%;
  margin-bottom: 2rem;
}
.left-menu ul li {
  list-style: none;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.left-menu ul li a {
  list-style: none;
  line-height: 1.5;
  display: block;
  padding: 5px 5px;
  color: #000;
  font-size: 2rem;
}
.left-menu > ul > li > a {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  text-transform: uppercase;
}
.left-menu ul li ul li a {
  padding-left: 2rem;
}
.left-menu ul li a.hassub {
  position: relative;
}
.left-menu  ul li a.hassub:before {
  content: '';
  top: 0.9rem;
  right: 5px;
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../images/icon.png);
  background-position: -70px 0;
}
.left-menu ul ul {
  display: none;
}
.left-menu ul li.active > a:before {
  background-position: -71px -21px;
}
.left-menu  ul li:hover > a {
  background: #eb5f36;
  color: #fff;
}
.left-menu.no-bold ul > li > a {
  font-family: "Helvetica Neue Light", arial, sans-serif;
  text-transform: none;
  font-size: 1.8rem;
}
/* End cate */
.main-content .group-cate {
  border:  1px solid #000;
  padding: 2rem 2rem 0 2rem;
  margin: 0 0 2rem 0;
}
.main-content .group-cate .item {
  text-align: center;
  margin-bottom: 2rem;
}
.main-content .group-cate .item a {
  display: block;
  color: #000;
  text-decoration: underline;
  font-size: 2rem;
  font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.main-content .group-cate .item:hover a {
  color: #eb5f36;
}
.main-content .group-cate .item a img {
  max-width: 100%;
}
.filter {
  margin: 0 0 2rem 0;
  padding: 1.5rem;
  background: #f1f1f2;
}
.filter .left .text {
  color: #eb5f36;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
}

/*product*/
.product-info .nav {
  margin-bottom: 3rem;
  text-align: center;
}

.product-info .nav li {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  margin-right: 3rem;
}
.product-info .nav li:last-child {
  margin-right: 0;
}
.product-info .nav li a {
  display: block;
  padding: 1rem  2rem;
  background: #b7b7b7;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
}
.product-info .nav li.active a {
  background: #eb5f36;
}
.product-info .nav li a.active {
  background: #eb5f36;
}

.product-images .img-slider img {
  width: 100%;
}
.product-images .img-slider {
  width: 120px;
}
.product-images .big-image {
  border: 1px solid #dddddd;
  max-width: 100%;
}
.product-images .big-image .image img {
  max-width: 100%;
}
.product-images .img-slider .slick-current {
  border: 1px solid #dddddd;
}
.product-images .col:nth-child(1) {
   width: 120px;
}
.btn img {
  vertical-align: -6px;
}
.product-images .slick-dots {
  bottom: 1.5rem;
  display: none;
}
.product-info .info-detail {
  margin-bottom: 3rem;
}
.product-info .info {
  line-height: 1.3;
}
.product-info .info .name {
  font-size: 3rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  text-transform: uppercase;
}
.product-info .info .rate {
  margin-bottom: 1rem;
}
.product-info .info .question {
  font-size: 2rem;
  color: #000;
  text-decoration: underline;
  margin-left: 3rem;
}
.product-info .info .text {
  margin-bottom: 1rem;
  line-height: 1.3;
}
.product-info .info .label {
  font-size: 2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  line-height: 1.5;
  padding: 1.5rem 0;
}
.product-info .info .function {
  margin-bottom: 2rem;
}
.product-info .info .function ul {
  margin-left: 20px;
}
.product-info .table td, .product-info .table th {
  vertical-align: middle;
}
.product-detail .videos-container {
  margin-top: 2rem ;
  margin-bottom: 2rem;
  position: relative;
  padding: 0 4rem;
}
.product-detail .videos-slider .video {
  border: none;
}
.product-detail .btn {

}
.video-thumbnail {
  display: block;
  position: relative;
  overflow: hidden;
}
.video-thumbnail img {
  -webkit-transition: all 2s ease-in-out;
     -moz-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
       -o-transition: all 2s ease-in-out;
          transition: all 2s ease-in-out;
}
.video-thumbnail:before {
    height: 6rem;
    width: 6rem;
    border: 4px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    content: "";
    position: absolute;
    z-index: 99;
    left: calc(50% - 3rem);
    top: calc(50% - 3rem);
    opacity: 0.8;
    -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.video-thumbnail:after {
    height: 0;
    width: 0;
    border: 1.5rem solid transparent;
    border-left: 1.5rem solid #fff;
    display: block;
    content: "";
    position: absolute;
    z-index: 99;
    left: calc(50% - 0.5rem);
    top: calc(50% - 1.5rem);
    -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.video-thumbnail:hover:before {
    border: 4px solid #eb5f36;
}
.video-thumbnail:hover:after {
  border-left: 1.5rem solid #eb5f36;
}
.video-thumbnail:hover img {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
}
.product-detail .videos-slider .slick-slide {
    margin: 0 1rem;
}
.product-detail .videos-slider  .slick-list {
    margin: 0 1rem;
}

.product-detail .videos-slider .card-body {
  padding: 1rem 0;
  line-height: 1.5;
}
.product-detail .videos-slider .video .card-title {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  font-size: 2rem;
  color: #000;
  text-decoration: underline;
  line-height: 1.5;
}
.product-detail .videos-slider .video:hover .card-title {
  color: #eb5f36;
}
.videos-container {
  width: 100%;
}
.videos-container .prev, .videos-container .next {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 40px;
  height: 76px;
  position: absolute;
  top: 40%;
  z-index: 99;
  opacity: 0.7;
}
.videos-container .prev {
  left: 0;
  background: url('../images/arl-b.png');
}
.videos-container .next {
  background: url('../images/arr-b.png');
  right: 0;
}
/*End product*/
.project .home-video .slick-dots {
  width: 75%;
}

.vjs-default-skin .vjs-big-play-button:hover {
  border-color: transparent !important;
}
.sidebar .section .title {
  font-size: 2rem;
}
.project-detail .content {
  line-height: 1.2;
  font-size: 2rem
  margin-bottom: 2rem;

}
.project-detail .content p {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.project-detail .content img {
  max-width: 100%;
}
.project-detail .content .title {
  font-size: 3rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.project-detail .content .label {
  font-size: 2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.video-box {
  margin: 2rem 0;
}
.sidebar .label {
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.sidebar .learn ul li a {
 text-transform: none;
 font-family: "Helvetica Neue Light", arial, sans-serif;
 font-size: 1.6rem; 
 line-height: 1.2;
 padding-left: 1rem;
}
.sidebar .learn ul li:hover a {
  background: transparent;
  color: #eb5f36;
}
.article-list {
  padding: 0 1rem;
}
.article-list .row {
  margin-bottom: 2rem;
}
.article-list .image img {
  width: 100%;
}
.article-list .content .title a {
  line-height: 1.5;
  font-size: 2.5rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  color: #000;
}
.article-list .content .author {
  color: #eb5f36;
  font-family: "Helvetica Neue Light Italic", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.article-list .content .home-text {
  line-height: 1.2;
  margin-bottom: 2rem;
}

.pagination {
  margin-bottom: 2rem;
}
.page-link {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: #444;
}
.page-item.active .page-link {
  color: #eb5f36;
  background-color: transparent;
  border-color: transparent; 
}
.page-item.disabled .page-link {
  background-color: transparent;
  border: 1px solid transparent;
}
.page-link:focus, .page-link:hover {
    color: #eb5f36;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}
.project-detail .content {
  line-height: 1.2;
  font-size: 2rem
  margin-bottom: 2rem;

}
.blog-detail {
  margin-bottom: 2rem;
  padding-top: 1.5rem;
}
.blog-detail .content p {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.blog-detail .content img {
  max-width: 100%;
}
.blog-detail .content .title {
  font-size: 3rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.blog-detail .content .label {
  font-size: 2rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.blog-detail .content .author {
  font-family: "Helvetica Neue Light Italic", arial, sans-serif;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.share {
  margin: 3rem 0;
  font-size: 2.5rem;
  background: url(../images/share-bg.jpg) no-repeat;
  padding-top: 60px;
  padding-left: 45px;
  margin-left: -45px;
}
.share a {
  color: #07bdb7;
  margin: 0.5rem;
}
.share a:hover, .share a:active, .share a:focus {
  color: #eb5f36;
}
.comment .label {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.comment .info {
  margin-bottom: 0.5rem;
}
.comment .info .d-table-cell {
  vertical-align: top;
}
.comment .info .avatar {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  margin-right: 1rem;
}
.comment .info .avatar img {
  width: 100%;
  display: block;
}
.comment .info .name {
  font-size: 2.5rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  line-height: 1.5;
}
.comment .info .name .say {
  font-family: "Helvetica Neue Ultra Light Italic", arial, sans-serif;
}
.comment .info .time {
  font-family: "Helvetica Neue Light Italic", arial, sans-serif;
  color: #eb5f36;
}
.comment .comment-detail {
  font-size: 2rem;
  color: #eb5f36;
  line-height: 1.2;
   margin: 1rem 0;
}
.comment .reply {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 2rem;
  color: #000;
  margin: 0 0 1rem 0;
}
.comment .comment-editor .form-control {
  border: 1px solid #787878;
  border-radius: 3px;
  width: 100%;
  max-width: 800px;
}
.comment .comment-editor .viewmore {
  margin-top: 2rem;
}
.brand .item {
  margin-bottom: 2rem;
}
.brand .item .brand-logo {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  max-width: 100%;
  margin-bottom: 1rem;
}
.brand .item ul li {
  margin-left: 10px;
  position: relative;
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.brand .item ul li .fa-li {
  font-size: 1rem;
  margin-top: 8px;
  margin-left: -10px;
  color: #eb5f36;
}
.brand .item ul li a {
  display: block;
  font-size: 2.5rem;
}
.js-menu-mobile {
  display: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
}
.js-menu-mobile .trigger-menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.js-menu-mobile .trigger-menu .three-bars-icon {
    margin: 22px 14px;
    user-selectable: none;
    position: relative;
    display: inline-block;
    width: 26px;
    height: 3px;
    background: #eb5f36;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.js-menu-mobile .trigger-menu span {
    display: inline-block;
    vertical-align: middle;
}
.js-menu-mobile .trigger-menu .three-bars-icon:before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: -7px;
    background: #eb5f36;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.js-menu-mobile .trigger-menu .three-bars-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 7px;
    background: #eb5f36;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
[off-canvas] {
  padding: 40px 20px 20px 20px;
}
.js-menu-mobile .trigger-menu .three-bars-icon.close {
    position: relative;
    display: inline-block;
    background: transparent;
}
.js-menu-mobile .trigger-menu .three-bars-icon.close:before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    background: #eb5f36;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.js-menu-mobile .trigger-menu .three-bars-icon.close:after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    background: #eb5f36;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Mobile Menu*/
[off-canvas] {
    background-color: #eb5f36 !important;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1)
}
.sidebar .logo {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
}
.sidebar .logo img {
  display: block;
  width: 100%;
}
.nav-mobile li {
    list-style: none;
    position: relative
}
.nav-mobile li a {
  border-bottom: 1px solid #ce532f;
}
.nav-mobile li:last-child {
    border: none
}

.nav-mobile li a {
  display: block;
  text-decoration: none;
  padding: 1.3rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
}
.nav-mobile > li > a {
  text-transform: uppercase;
}
.nav-mobile ul li a {
    padding-left: 30px
}
.nav-mobile ul li li a {
  padding-left: 40px;
  background: #b93a14;
}
.nav-mobile ul li li li a {
  padding-left: 60px;
  font-family: "Helvetica Neue Light", arial, sans-serif;
  
}
.nav-mobile ul {
    display: none
}
.nav-mobile ul li a {
  border-bottom: 1px solid #d65630;
  background: #c14d2a;
}
.nav-mobile i {
    float: right;
    margin-top: 2px
}
.nav-mobile li a:focus {
    background: #ce532f;
}
.carousel-item img {
  width: 100%;
}
.section .row {
  margin: 0;
}
.product-detail .description .label {
  font-size: 2rem;
  color: #000;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
}
.product-detail .description p {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.product-detail .tab-pane {
  margin-bottom: 3rem;
}
.product-detail .gallery .item {
  margin-bottom: 2rem;
}
.product-detail .gallery .item a {
  display: block;
}
.product-detail .gallery .item img {
  display: block;
  width: 100%;
}
.pbWrapper > *, .pbHide .pbWrapper > .prepare {
  border-radius: 0 !important;
}
.pbThumbs li.active a img {
  border-color: #eb5f36 !important ;
}
.grey-color {
  color: #666;
}
#videos {
  width: 100% !important;
}
.modal-backdrop {
  z-index: 0;
}
.modal-open .modal {
  background: rgba(0, 0, 0, 0.5);
}
.modal-header .close span {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 25px;
  line-height: 22px;
  border-radius: 1000px;
  font-size: 1.6rem;
  border: 1px solid #444;
}
.modal-header .close:active, .modal-header .close:focus {
  outline: 0;
}
.modal-header .close span:hover {
  cursor: pointer;
}
.video-modal .video-title {
  font-size: 1.6rem;
  font-family: "Helvetica Neue Bold", arial, sans-serif;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.video-modal .modal-header {
  padding: 1rem;
}
.nav-mobileli a.hassub {
  position: relative;
}
.nav-mobile li a.hassub:before {
  content: '';
  top: 0.9rem;
  right: 5px;
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../images/icon-w.png);
  background-position: -70px 0;
}
.nav-mobile li.active > a:before {
  background-position: -71px -21px;
}
.nav-mobile ul li:hover > a {
  background: #eb5f36;
  color: #fff;
}
.video-js {
  width: 100% !important;
}
.vjs-default-skin .vjs-play-progress {
    background: #eb5f36 !important;
}
.registerform > div {
  margin-bottom: 1rem;
}
select.form-control:not([size]):not([multiple]) {
    height: 4.5rem;
}
.login {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.login input {
  margin-bottom: 1rem;
}
.cart-detail {
  margin-bottom: 2rem;
}
.cart-detail table .image {
  max-width: 70px;
}
.checkout .note {
  padding: 1rem;
}
.checkout .login {
  text-align: center;
  margin: 0 auto;
}
.checkout .login .note {
  text-align: center;
}
#reviews .rate span.active .fa-star {
  color: #eb5f36;
}
#reviews .rate span.hover .fa-star {
  color: #eb5f36;
}
#reviews .rate .fa-star:hover {
  cursor: pointer;
}
.header .search form {
  display: flex;
}